<a routerLink="/" class="back-to-menu-button" title="Retour au menu">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
    <polyline points="16 17 21 12 16 7"></polyline>
    <line x1="21" y1="12" x2="9" y2="12"></line>
  </svg>
</a>

<div class="game-container">
    <div *ngIf="gameState !== 'level_complete'" class="score-display" [style.color]="getScoreColor()">{{ displayedScore | number:'1.0-0' }}</div>

    <div *ngIf="gameState !== 'level_complete'" class="button-container">
        <button
            *ngFor="let button of buttons"
            class="game-button"
            [ngClass]="button.colorClass"
            (click)="onButtonClick(button)"
            [class.is-disabled]="isAnimatingScore || button.isDisabled"
            [disabled]="isAnimatingScore || button.isDisabled">

            <span class="button-label">{{ button.name }}</span>

            <span class="background-number">{{ button.value }}</span>
        </button>
    </div>

    <div *ngIf="gameState === 'level_complete'" class="level-complete-container" [style.color]="getScoreColor()">
      <h2>{{ 'gameboard.levelCompleteTitle' | translate:{ level: levelService.currentLevelNumber() } }}</h2>
      <div class="stats">
        <p>{{ 'gameboard.clicksCount' | translate }} : <strong>{{ levelClicks }}</strong></p>
      </div>

      <div *ngIf="earnedMedal; else noMedal" class="medal-display">
        <span class="medal-icon">
          <ng-container [ngSwitch]="earnedMedal">
            <span *ngSwitchCase="'Platine'">💎</span>
            <span *ngSwitchCase="'Or'">🥇</span>
            <span *ngSwitchCase="'Argent'">🥈</span>
            <span *ngSwitchCase="'Bronze'">🥉</span>
          </ng-container>
        </span>
        <span class="medal-text">
          {{ 'gameboard.medalOf' | translate:{ medalName: ('medals.' + earnedMedal | translate) } }}
        </span>
      </div>

      <div class="stats">
        <span class="medal-description" [ngSwitch]="earnedMedal">
          <span *ngSwitchCase="'Platine'">{{ 'gameboard.medalDescriptionPlatine' | translate }}</span>
          <span *ngSwitchCase="'Or'">{{ 'gameboard.medalDescriptionOr' | translate }}</span>
          <span *ngSwitchCase="'Argent'">{{ 'gameboard.medalDescriptionArgent' | translate }}</span>
          <span *ngSwitchCase="'Bronze'">{{ 'gameboard.medalDescriptioBronze' | translate }}</span>
        </span>
      </div>

      <ng-template #noMedal>
        <div class="no-medal-display">
          <p>{{ 'gameboard.noMedalTitle' | translate }}</p>
          <span>{{ 'gameboard.noMedalSubtitle' | translate }}</span>
        </div>
      </ng-template>

      <div class="action-buttons">
        <button class="retry-button" (click)="retryLevel()">{{ 'gameboard.retryButton' | translate }}</button>
        <button class="next-level-button" (click)="goToNextLevel()">{{ 'gameboard.nextLevelButton' | translate }}</button>
      </div>
    </div>
</div>
