<div class="game-container">
    <div class="score-display" [style.color]="getScoreColor()">{{ displayedScore | number:'1.0-0' }}</div>

    <div *ngIf="gameState !== 'level_complete'" class="button-container">
        <button
            *ngFor="let button of buttons"
            class="game-button"
            [ngClass]="button.colorClass"
            (click)="onButtonClick(button)"
            [class.is-disabled]="isAnimatingScore || button.isDisabled"
            [disabled]="isAnimatingScore || button.isDisabled">

            <span class="button-label">{{ button.name }}</span>

            <span class="background-number">{{ button.value }}</span>
        </button>
    </div>

    <div *ngIf="gameState === 'level_complete'" class="level-complete-container" [style.color]="getScoreColor()">
      <h2>Niveau {{ levelService.currentLevelNumber() }} terminé !</h2>
      <div class="stats">
        <p>Nombre de clics : <strong>{{ levelClicks }}</strong></p>
      </div>

      <div *ngIf="earnedMedal; else noMedal" class="medal-display">
        <span class="medal-icon">
          <ng-container [ngSwitch]="earnedMedal">
            <span *ngSwitchCase="'Platine'">💎</span>
            <span *ngSwitchCase="'Or'">🥇</span>
            <span *ngSwitchCase="'Argent'">🥈</span>
            <span *ngSwitchCase="'Bronze'">🥉</span>
          </ng-container>
        </span>
        <span class="medal-text">Médaille de {{ earnedMedal }} !</span>
      </div>

      <div class="stats">
        <span class="medal-description" [ngSwitch]="earnedMedal">
          <span *ngSwitchCase="'Platine'">Nombre de coups minimum découvert !</span>
          <span *ngSwitchCase="'Or'">Excellent !</span>
          <span *ngSwitchCase="'Argent'">Très bien !</span>
          <span *ngSwitchCase="'Bronze'">Assez bien !</span>
        </span>
      </div>

      <ng-template #noMedal>
        <div class="no-medal-display">
          <p>Vous pouvez faire mieux !</p>
          <span>Essayez de résoudre le niveau en moins de coups.</span>
        </div>
      </ng-template>

      <div class="action-buttons">
        <button class="retry-button" (click)="retryLevel()">Réessayer</button>
        <button class="next-level-button" (click)="goToNextLevel()">Niveau Suivant</button>
      </div>
    </div>
</div>
